@media (min-width: 32.5em) {
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #B1740F;
    }

    #logos {
        grid-template-columns: repeat(3, 1fr);
    }

    #logos h3 {
        grid-column: 1 / 4;
    }

    #palette {
        grid-template-columns: repeat(5, 1fr);
        max-width: 1000px;
        margin: auto;
    }

    #palette p:nth-of-type(6) {
        grid-column: 1;
        grid-row: 2;
    }
    
    #palette p:nth-of-type(8) {
        grid-column: 3;
        grid-row: 2;
    }
    
    #palette p:nth-of-type(9) {
        grid-column: 4;
        grid-row: 2;
    }
    
    #palette p:nth-of-type(10) {
        grid-column: 5;
        grid-row: 2;
    }

}