@import url('https://fonts.googleapis.com/css2?family=Lato&family=Titillium+Web&display=swap');

/* For reference when doing fonts:
 * font-family: 'Lato', sans-serif;
 * font-family: 'Titillium Web', sans-serif;
 */

nav a {
    padding: 10px;
    text-decoration: none;
    color: #153232; 
    display:block;
    background-color: #F1B75B;
    margin: 2px;
}

nav { 
    text-align: center;
    background-color: #52489C;
}

 header, main, footer {
     max-width: 1000px;
     margin: 0 auto;
 }
 body {
     background-color: #59C3C3;
 }

 header, footer {
     background-color: #52489C;
     color: #EBEBEB;
     padding-top: 20px;
 }
 header {
     border-radius: 10px 10px 0 0;
 }

 footer {
     text-align: center;
     padding-bottom: 10px;
     border-radius: 0 0 10px 10px;
 }

 footer a {
     color: #EBEBEB;
 }

main {
    background-color: #EBEBEB;
}

main div {
    border: 1px solid darkgray;
    text-align: center;
}

li {
    text-align: start;
    max-width: 60%; 
}

ol, ul {
    margin-left: 23%;
}
 

#title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title h1 {
    align-self: center;
    justify-self: center;
}

h1, h3, h4, #titillium {
    font-family: 'Titillium Web', sans-serif;
}

#titillium, #lato {
    font-size: 200%;
}

h3 {
    padding: 10px;
    color: #52489C;
    font-size: 120%;
}

p {
    font-family: 'Lato', sans-serif;
}

#domain img {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
}

#update {
    color: #CEFF1A;
}

#logos {
    display: grid;
    grid-template-columns: 1fr; 
}

#logos img {
    max-width: 60%;
    justify-self: center;
}

#palette {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#palette p {
    padding: 1.5em;
    /*align-self: center;*/
    border: 4px solid black;
}

#palette p:nth-of-type(6) {
    grid-column: 2;
    grid-row: 1;
    background-color: #59C3C3;
}

#palette p:nth-of-type(7) {
    grid-column: 2;
    grid-row: 2;
    background-color: #52489C;
    color: #EBEBEB;
}

#palette p:nth-of-type(8) {
    grid-column: 2;
    grid-row: 3;
}

#palette p:nth-of-type(9) {
    grid-column: 2;
    grid-row: 4;
    background-color: #F1B75B;
    color: black;
}

#palette p:nth-of-type(10) {
    grid-column: 2;
    grid-row: 5;
    background-color: #CEFF1A;
}