@media only screen and (min-width: 78.125em) {
    main, footer {
        max-width: 1050px;
    }

    .towns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
}