@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu&display=swap');
/* Header/Navigation section */
#top-banner {
    display: grid;
    grid-template-columns: 1fr;
}

#logo {
    max-width: 100%;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    background-color: #EA7317; 
    padding: 0;
}

.navigation li {
    padding: 1em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 115%;
}

.navigation li:hover {
    border: 1px solid #73BFB8;
    box-shadow: 0 0 5px #2364AA;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 3px solid #3DA5D9;
}

#filler {
    display: none;
}

/* Weather Info section */

.current p {
    display: inline;
    padding: .75em;
    font-size: 150%;
}

.current {
    text-align: center;
    background-color: #73BFB8;
    padding-top: .5em;
    padding-bottom: .5em; 
}

#current-weather {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

#current-weather img {
    max-width: 100%;
}

#forecast {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    max-width: 85%;
    margin: 0 auto;
    background-color: #73BFB8;
    bottom: 1em;
    left: 7em;
    opacity: 0.85;
}

#forecast div {
    text-align: center;
}

#forecast h4, #forecast p {
    margin-bottom: 0;
    margin-top: 0;
}


/* General Page section */

main {
    font-family: 'Fira Sans', sans-serif;
    background-color: #FEC601;
    text-align: center;
}

h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

/* Business Highlight section */

#business-spotlight {
    text-align: center;
}

#business-spotlight div{
    padding: .5em;
}

#business-spotlight img {
    max-width: 95%;
    background-color: white;
}

#business-spotlight div:nth-child(even) {
    background-color: #2364AA;
    color: #EEE;
}

#business-spotlight div:nth-child(odd) {
    background-color: #3DA5D9;
}

/* About Us section */

#about-us img {
    max-width: 100%;
}

#about-us {
    border: 2px solid #EA7317;
}

/* Join Us section */

#join img {
    max-width: 100%;
}

#join {
    position: relative;
}

#join h3 {
    position: absolute;
    top: 24%;
    color: #EA7317;
    left: 36%;
    background-color: #73BFB8;
    padding: .25em;
    border-radius: 20px;
}

#join h3:hover {
    border: 1px dotted #EA7317;
    box-shadow: 0 0 10px #FEC601;
}

/* Upcoming Events section*/

#events li {
    text-align: left;
}

#events  {
    padding-bottom: 1em;
}

/* Footer section */

footer img {
    max-width: 50px;
}

footer {
    background-color: #EA7317;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer div {
    padding: .75em;
}

footer div p:nth-child(0) {
    margin-top: 0;
}

#social {
    grid-column: 1 / 3;
    margin: 0 auto;
}

footer a {
    text-align: center;
    margin-top: 2.5em;
}