@media only screen and (min-width: 32.5em) {
    
    /* Header/Navigation section */

    #top-banner {
        grid-template-columns: 230px 1fr;
        grid-template-rows: 57.781px 172.219px;
    }

    #logo {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .navigation li {
        display: inline;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    nav {
        grid-column: 2;
    }

    #filler {
        display: block;
        grid-column: 2;
        max-width: 100%;
        max-height: 10.9em;
        width: 100%;
    }

    /* General Page section */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    iframe {
        grid-column: 1;
        grid-row: 2;
        margin: 0 auto;
    }

    form {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    #board {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    /* Form section */
    .sbutton {
        margin-top: 1.5em;
    }

     /* Footer section */

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    footer img {
        max-width: 75px;
    }

    #social {
        grid-column: 3;
    }

}