@media only screen and (min-width: 78.125em) {
    /* General Page section */
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #buffer {
        grid-column: 1 /4;
    }

    #hero {
        grid-column: 1 / 4;
        width: 75%;
        max-height: 28em;
        margin: 0 auto;
    }

    /* Historical section */

    .old-town {
        grid-column: 2;
        grid-row: 4;
    }

    .fairgrounds {
        grid-column: 3;
        grid-row: 3;
    }


}