@media only screen and (min-width: 32.5em) {
    .navigation li {
        display: inline;
        
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    nav {
        position: static;
        width: 100%;
    }

    main, footer {
        max-width: 85%;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2em;
    }

    header img {
        grid-column: 1;
        grid-row: 1 / 3;
        justify-self: end;
        align-self: center;
        max-width: 150px;     
    }
    
    header h1 {
        grid-column: 2;
    }

    h4 {
        margin-bottom: 5px;
    }

    #social-media {
        display: flex;
        grid-column: 2;
        align-self: center;
        justify-self: center;
    }

    #social-media  img{
        max-width: 4em;
    }

    #contact {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: center;
    }

    #contact h3 {
        grid-column: 1;
        justify-self: center;
        margin-bottom: 0;
        margin-left: 0;
    }

    #contact ul {
        grid-column: 1;
        justify-self: center;
    }

    #contact li:last-child{
        display: block;
    }

    #contact li {
        padding: 0.5em;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    section:nth-child(even) img {
        grid-column: 1;
        grid-row: 1;
        margin-left: 1em;
    }

    section:nth-child(even) div {
        grid-column: 2;
        grid-row: 1;
    }

    .towns div {
        padding-top: 1.5em;
    }

    section:nth-child(odd) img:hover {
        box-shadow: -.5em .5em 1em #59C3C3;
    }

    section:nth-child(even) img:hover {
        box-shadow: .5em .5em 1.5em #59C3C3;
    }

}