@media (min-width: 32.5em) {
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #B1740F;
    }

    /*#domain img {
        display: block;
        max-width: 90%;
        margin: 0 auto;
    }*/

}