@media (min-width: 32.5em) {
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #B1740F;
    }

    #logos {
        grid-template-columns: repeat(3, 1fr);
    }

    #logos h3 {
        grid-column: 1 / 4;
    }

}